@import "tailwindcss";

/* Regular (400) */
@font-face {
    font-family: "JetBrainsMono Nerd Font";
    src: url("JetBrainsMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Thin (100) */
@font-face {
    font-family: "JetBrainsMono Nerd Font";
    src: url("JetBrainsMono-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* Bold (700) */
@font-face {
    font-family: "JetBrainsMono Nerd Font";
    src: url("JetBrainsMono-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "JetBrainsMono Nerd Font", monospace;
}

.text-jetbrains-thin {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-weight: 100;
}

.text-jetbrains-regular {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-weight: 400;
}

.text-jetbrains-bold {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-weight: 700;
}

html {
    scroll-behavior: smooth;
}

@theme {
    --animate-blink: blink .5s ease-in-out infinite;
    --color-card-background : #1F2B3E;
    --color-card-text-color : #ffffff;
    --color-card-border-color : gray;
    --color-card-hover-border-color : #ffffff;
    --color-card-text-secondary : #cee8ff;
    @keyframes blink {
        0%{
            opacity: 0;
        }
        50% {
            opacity: 100;
        }
        100%{
            opacity: 0;
        }
    }
}